body{
  background: #0A0A3A !important;
  color: white;
  overflow-x: hidden;
}

h1{
  background: -webkit-linear-gradient(#94E79F, #1C78DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3{
  background: -webkit-linear-gradient(#94E79F, #1C78DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
